<!DOCTYPE html>
<html>
    <head>
        <title>Myths {{ title }}</title>
        <style>
            body {
              background-color: rgb(185, 239, 255);
              text-align: central;
              color: rgb(26, 10, 85);
              font-family: Arial, Helvetica, sans-serif;
            }
            </style>
    </head>
    <body>
        <h1>Myths {{ title }}</h1>
        <p>
           <a href="{{ url_for('home') }}">Home</a>
           <a href="{{ url_for('create_myth') }}">Add Myth</a>
           <a href="{{ url_for('create_location') }}">Add location</a>
        </p>
         {% block body%}
         {% endblock body %}
    </body> 
</html>